name: Pull Request

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '21'
          native-image-musl: 'true'
          check-for-updates: 'false'

      - name: Build JAR
        run: ./gradlew clean test jar

      - name: Build binary
        run: ./native-build.sh

      - name: Run built binary
        run: ./jslt --help
